; J9019B IGNORE Configuration Editor; Created on release #RA.15.17.0008
hostname "ADP-IN-PROGRESS"
include-credentials
password manager user-name ${telnet_user_name} plaintext ${telnet_password}
snmp-server community ${snmpv1_community_read} operator
snmp-server community ${snmpv1_community_write} unrestricted
vlan 1
   name "DEFAULT_VLAN"
   untagged all
   ip address dhcp-bootp
   exit
